<form #cookieForm='ngForm' (ngSubmit)="Register(cookieForm)">
  <div class="form-group">
    <label for="userName">User Name</label>
    <input
      required
      minlength="3"
      maxlength="14"
      ngModel
      name="userName"
      #userName="ngModel"
      id="userName"
      type="text"
      class="form-control">
    <div
      class="alert alert-danger mt-2"
      *ngIf="userName.touched && !userName.valid">
      <div *ngIf="userName.errors.required">
        User Name is required.
      </div>
      <div *ngIf="userName.errors.minlength">
        User Name should be minimum {{ userName.errors.minlength.requiredLength }} characters.
      </div>
    </div>
  </div>
  <div class="form-group">
    <input
      ngModel
      [(ngModel)]="cookie.secretToken"
      name="secretToken"
      id="secretToken"
      type="hidden"
      class="form-control">
  </div>
  <button type="submit" [disabled]="!cookieForm.valid" class="btn btn-primary">Submit</button>
</form>